[user]
    name = Chris Watson
    email = 
[core]
    editor = vim
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[pager]
    diff =
[alias]
    st      = status
    ci      = commit
    br      = branch
    co      = checkout
    d       = difftool
    m       = merge --no-ff
    ls      = ls-files
    type    = cat-file -t
    dump    = cat-file -p
    aliases = ! git config --get-regexp ^alias\\.* | colrm 1 6 | sed s/[\\ ]/\\ =\\ / | sort
    # Log-related
    last    = log -1 HEAD
    find    = log --color --source -S
    hist    = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lg      = log --graph --abbrev-commit --date=short --decorate --format=format:'%C(bold yellow)%h%C(reset) %C(bold blue)(%ar)%C(reset) %C(bold green)%s%C(reset) %C(dim red)%an%C(reset) %C(auto)%d%C(reset)'
    lgp     = log --graph --abbrev-commit --decorate --format=format:'%C(bold yellow)%h%C(reset) %C(bold green)%s%C(reset) %C(dim red)%an%C(reset) %C(bold blue)(%ar)%C(reset) %C(auto)%d%C(reset)' --first-parent
[difftool]
    prompt = false
[color]
    ui = true
[color "branch"]
    current = green bold
    local   = yellow bold
    remote  = red bold
[color "status"]
    header  = blue bold
    added   = green bold
    changed = yellow bold
    untracked   = red bold
